.card:hover{
    cursor: pointer;
}

.true{
    opacity: 0.7;
}
.button-style{
    position: absolute !important;
    height: 50px;
    width: 200px;
    background: #022950 !important;
    border-radius: 30px !important;
    color: white !important;
    margin-bottom: 100px !important
}