.card:hover{
    cursor: pointer;
    background: #daedff
}
.card-style{
    box-shadow: #022950;
    border: 2px solid #022950;
    border-radius: 10px !important;
    width: 98%;
    justify-content: center;
    margin: 20px auto
}
.true{
    opacity: 0.7;
}
.button-style{
    position: absolute !important;
    height: 50px;
    width: 200px;
    background: #022950 !important;
    border-radius: 30px !important;
    color: white !important;
    margin-bottom: 100px !important
}

.cartButton{
    position: absolute !important;
    height: relative;
    width: relative;
    background: #022950 !important;
    border-radius: 30px !important;
    color: white !important;
    margin-bottom: 100px !important
}
.cart{
    position: absolute;
    margin-right: 10%;
    right: 10px;
}